<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation')%>

    <div class="container mx-auto text-center px-30 py-2">
        <input type="text" class="text-center" placeholder="Filtra por texto" autocomplete="off" id="searchInput" />
        <table class="mt-4 table table-dark table-hover" id="users"></table>
    </div>

    <%- include('partials/footer')%>
    <script type="text/javascript" src="/js/filtrador.js"></script>
  </body>
</html>
